html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

input#search {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}

input#search:focus {
    border-bottom: 3px solid #555;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 10px;
    text-align: left;
}

#map {
    bottom: 0px;
    height: 100%;
    left: 30%;
    position: absolute;
    right: 0px;
}

.options-box {
    background: #fff;
    border-radius: 3px;
    height: 100%;
    line-height: 2.5em;
    padding: 0px;
    text-align: left;
    width: 25%;
}

ul {
    list-style-type: none;
    font-size: 14px;
    padding-left: 10px;
    width: 100%;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: #e6ebf4;
}

/* infowindow styling */

#iw-container {
    margin-bottom: 10px;
    min-width: 200px;
    max-width: 300px;
}

#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 5px;
   background-color: #5f5e6b;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 0;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}

/* hamburger menu styling */

#menuToggle input#ham
{
    opacity: 0; /* hide this */
}

/* when screen size < 600px, hide menu into hamburger icon */

@media screen and (max-width: 600px) {
    #map {
        left: 0%;
    }

    ul {
        height: 350px;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 25px;
        left: 25px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input#ham {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /* Make a hamburger using the 3 spans */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #606060;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* Transform hamburger into a crossmark. */
    /* Rotate the first span */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /* Hide the middle span */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /* Rotate the last span */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    /* Fade it in from the left */
    #menuToggle input:checked ~ ul {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }

    /* Make this absolute positioned at the top left of the screen */
    #menu {
        position: absolute;
        width: 250px;
        margin: -100px 0 0 -50px;
        padding: 30px;
        padding-top: 100px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}